DATABASE_URL=postgresql://user:pass@host:5432/dbname
JWT_SECRET=ganti_ini_dengan_string_random_panjang
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
PORT=3000
