DATABASE_URL=postgresql://user:password@localhost:5432/samaqu
JWT_SECRET=change_this_to_random_secret
JWT_EXPIRES_IN=7d

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BITESHIP_API_KEY=
# or
RAJAONGKIR_API_KEY=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

PORT=3000
